{%extends "base.html"%}
<!--Aqui llamamos el titulo-->
{%block pagetitle%}
	{{title}}
{%endblock%}
<!--Aqui llamamos a la seccion de contenido de la base-->
{% block content %}
  {% if user.is_authenticated %}
    {{user.username}}
    <a href="{% url 'userprofiles:logout' %}">logout</a> <br>
  {% else %}
    <a href="{% url 'userprofiles:authentication'%}">Login</a>
  {% endif %}
	<h1>Bienvenido a Shoppy</h1>

  <a href="{% url "products:new" %}">Agregar producto</a>
	  	{%for pr in object_list%}
  		<li>
  			Item: <a href="{% url "products:detail" pr.id %}">
  					{{pr.name}}
  				</a>, <br>
  			Price: {{pr.price}}<br>
  			<img src="{{ pr.image.url }}">
  		</li>
  	{%endfor%}
{% endblock content %}
